server {
    listen       ${NGINX_HTTP_PORT};
    listen  [::]:${NGINX_HTTP_PORT};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate /etc/ssl/certs/${NGINX_SSL_FILE_BASE_NAME}.crt;
    ssl_certificate_key /etc/ssl/private/${NGINX_SSL_FILE_BASE_NAME}.key;

    # replace TARGET_* with the server variables
    server_name    ${TARGET_SERVER_NAME};
    location / {
        proxy_pass http://${TARGET_HOST}:${TARGET_PORT};
    }

}

